# Effect of Molecule-54 On CYP11B2 Expression

In [1]:
import pandas as pd
from numpy import float64, subtract

In [2]:
def convert_rep(row):
    row['rep'] = row['Sample Name'][-1]
    row['Sample Name'] = row['Sample Name'][:len(row['Sample Name']) - 5]
    return row

In [3]:
rawDataSet_1 = pd.read_excel(r'/Users/sanas/Projects/molecule-54/effect_CYP11B2/resources/beta_R1.xls', sheet_name = 'Results', header = 50, decimal = ",")

cum_mol_clean_1 = rawDataSet_1.drop(columns = ['Well', 'Well Position', 'Omit', 'Task', 'Reporter', 'Quencher', 'Quantity', \
                                    'Quantity Mean', 'Quantity SD', 'RQ', 'RQ Min', 'RQ Max', 'Delta Ct', 'Delta Ct Mean', \
                                     'Delta Ct SD', 'Delta Ct SE', 'Delta Delta Ct', 'Automatic Ct Threshold', \
                                     'Ct Threshold', 'Automatic Baseline', 'Baseline Start', \
                                    'Baseline End', 'Amp Status', 'Comments', 'Cq Conf', 'CQCONF', 'EXPFAIL'])

cum_mol_clean_1['rep'] = '1'
cum_mol_clean_1 = cum_mol_clean_1[cum_mol_clean_1['Sample Name'].str.contains('rep')== False ]
cum_mol_clean_1 = cum_mol_clean_1.dropna(axis = 0)
cum_mol_clean_1

     Sample Name Target Name         CT    Ct Mean     Ct SD rep
24  + cum + m-54       GAPDH  25.618839  25.380276  0.337378   1
25  + cum + m-54       GAPDH  25.141714  25.380276  0.337378   1
26  + cum - m-54       GAPDH  25.443441  25.468607  0.035589   1
27  + cum - m-54       GAPDH  25.493773  25.468607  0.035589   1
28  - cum + m-54       GAPDH  25.481716  25.487497  0.008176   1
29  - cum + m-54       GAPDH  25.493279  25.487497  0.008176   1
30  + cum + m-54       KCNJ5  23.100216  23.040981  0.083769   1
31  + cum + m-54       KCNJ5  22.981749  23.040981  0.083769   1
32  + cum - m-54       KCNJ5  23.012165  23.037327  0.035584   1
33  + cum - m-54       KCNJ5  23.062489  23.037327  0.035584   1
34  - cum + m-54       KCNJ5  23.479473  23.648571  0.239141   1
35  - cum + m-54       KCNJ5  23.817669  23.648571  0.239141   1
36  + cum + m-54     CYP11B2  30.930012  30.596180  0.472111   1
37  + cum + m-54     CYP11B2  30.262346  30.596180  0.472111   1
38  + cum - m-54     CYP11B2  30.024828  30.056484  0.044769   1
39  + cum - m-54     CYP11B2   30.08814  30.056484  0.044769   1
40  - cum + m-54     CYP11B2  30.370108  30.391968  0.030916   1
41  - cum + m-54     CYP11B2   30.41383  30.391968  0.030916   1

In [39]:
rawDataSet_2 = pd.read_excel(r'/Users/sanas/Projects/molecule-54/effect_CYP11B2/resources/beta_R2-R3.xls', sheet_name = 'Results', header = 50, decimal = ",")

cum_mol_clean_2 = rawDataSet_2.drop(columns = ['Well', 'Well Position', 'Omit', 'Task', 'Reporter', 'Quencher', 'Quantity', \
                                    'Quantity Mean', 'Quantity SD', 'RQ', 'RQ Min', 'RQ Max', 'Delta Ct', 'Delta Ct Mean', \
                                     'Delta Ct SD', 'Delta Ct SE', 'Delta Delta Ct', 'Automatic Ct Threshold', \
                                     'Ct Threshold', 'Automatic Baseline', 'Baseline Start', \
                                    'Baseline End', 'Amp Status', 'Comments', 'Cq Conf', 'CQCONF', 'EXPFAIL', 'HIGHSD'])


cum_mol_clean_2 = cum_mol_clean_2[cum_mol_clean_2['Sample Name'].str.contains('rep')== True ]
cum_mol_clean_2 = cum_mol_clean_2.apply(convert_rep, axis = 1)
cum_mol_clean_2 = cum_mol_clean_2.dropna(axis = 0)
cum_mol_clean_2

   Sample Name Target Name         CT    Ct Mean     Ct SD rep
0   +cum +m-54       GAPDH  25.938341  25.504961  0.612892   2
1   +cum +m-54       GAPDH  25.071581  25.504961  0.612892   2
2   +cum -m-54       GAPDH  25.574768  25.572578  0.003098   2
3   +cum -m-54       GAPDH  25.570387  25.572578  0.003098   2
4   -cum +m-54       GAPDH  25.984959  25.971508  0.019021   2
5   -cum +m-54       GAPDH  25.958059  25.971508  0.019021   2
6   +cum +m-54       KCNJ5  22.099514  22.035473  0.090568   2
7   +cum +m-54       KCNJ5  21.971432  22.035473  0.090568   2
8   +cum -m-54       KCNJ5  22.713797  22.716967  0.004483   2
9   +cum -m-54       KCNJ5  22.720137  22.716967  0.004483   2
10  -cum +m-54       KCNJ5  23.127840  23.280720  0.216203   2
11  -cum +m-54       KCNJ5  23.433598  23.280720  0.216203   2
12  +cum +m-54     CYP11B2  28.864119  28.880112  0.022619   2
13  +cum +m-54     CYP11B2  28.896107  28.880112  0.022619   2
14  +cum -m-54     CYP11B2  28.991772  28.976658  0.021373   2
15  +cum -m-54     CYP11B2  28.961546  28.976658  0.021373   2
16  -cum +m-54     CYP11B2  29.955446  29.886017  0.098187   2
17  -cum +m-54     CYP11B2  29.816589  29.886017  0.098187   2
18  +cum +m-54       GAPDH  25.843149  25.734058  0.154279   3
19  +cum +m-54       GAPDH  25.624966  25.734058  0.154279   3
20  +cum -m-54       GAPDH  25.398243  25.341455  0.080310   3
21  +cum -m-54       GAPDH  25.284668  25.341455  0.080310   3
22  -cum +m-54       GAPDH  26.539864  26.613945  0.104767   3
23  -cum +m-54       GAPDH  26.688026  26.613945  0.104767   3
24  +cum +m-54       KCNJ5  22.969645  22.959276  0.014663   3
25  +cum +m-54       KCNJ5  22.948908  22.959276  0.014663   3
26  +cum -m-54       KCNJ5  22.187866  22.209290  0.030297   3
27  +cum -m-54       KCNJ5  22.230713  22.209290  0.030297   3
28  -cum +m-54       KCNJ5  23.581352  23.605110  0.033597   3
29  -cum +m-54       KCNJ5  23.628866  23.605110  0.033597   3
30  +cum +m-54     CYP11B2  29.030289  29.114653  0.119309   3
31  +cum +m-54     CYP11B2  29.199017  29.114653  0.119309   3
32  +cum -m-54     CYP11B2  28.217604  28.363747  0.206679   3
33  +cum -m-54     CYP11B2  28.509892  28.363747  0.206679   3
34  -cum +m-54     CYP11B2  30.007282  30.262669  0.361171   3
35  -cum +m-54     CYP11B2  30.518055  30.262669  0.361171   3

In [40]:
rawDataSet_3 = pd.read_excel(r'/Users/sanas/Projects/molecule-54/effect_CYP11B2/resources/beta_R4.xls', sheet_name = 'Results', header = 50, decimal = ",")

cum_mol_clean_3 = rawDataSet_3.drop(columns = ['Well', 'Well Position', 'Omit', 'Task', 'Reporter', 'Quencher', 'Quantity', \
                                    'Quantity Mean', 'Quantity SD', 'RQ', 'RQ Min', 'RQ Max', 'Delta Ct', 'Delta Ct Mean', \
                                     'Delta Ct SD', 'Delta Ct SE', 'Delta Delta Ct', 'Automatic Ct Threshold', \
                                     'Ct Threshold', 'Automatic Baseline', 'Baseline Start', \
                                    'Baseline End', 'Amp Status', 'Comments', 'Cq Conf', 'CQCONF', 'EXPFAIL'])

cum_mol_clean_3['rep'] = '4'
cum_mol_clean_3 = cum_mol_clean_3[cum_mol_clean_3['Sample Name'].str.contains('rep')== False ]
cum_mol_clean_3 = cum_mol_clean_3.dropna(axis = 0)
cum_mol_clean_3

   Sample Name Target Name         CT    Ct Mean     Ct SD rep
0   +cum +m-54       GAPDH  25.336143  25.556652  0.311846   4
1   +cum +m-54       GAPDH  25.777161  25.556652  0.311846   4
2   +cum -m-54       GAPDH  25.993444  25.680954  0.441927   4
3   +cum -m-54       GAPDH  25.368465  25.680954  0.441927   4
4   -cum +m-54       GAPDH  25.324066  25.509483  0.262219   4
5   -cum +m-54       GAPDH  25.694901  25.509483  0.262219   4
6   +cum +m-54       KCNJ5  23.665854  23.962112  0.418975   4
7   +cum +m-54       KCNJ5  24.258373  23.962112  0.418975   4
8   +cum -m-54       KCNJ5  24.319206  24.257282  0.087574   4
9   +cum -m-54       KCNJ5  24.195358  24.257282  0.087574   4
10  -cum +m-54       KCNJ5  24.283813  24.360783  0.108851   4
11  -cum +m-54       KCNJ5  24.437752  24.360783  0.108851   4
12  +cum +m-54     CYP11B2  29.250977  29.120930  0.183915   4
13  +cum +m-54     CYP11B2  28.990881  29.120930  0.183915   4
14  +cum -m-54     CYP11B2  28.960726  28.832115  0.181883   4
15  +cum -m-54     CYP11B2  28.703505  28.832115  0.181883   4
16  -cum +m-54     CYP11B2  29.634432  29.697222  0.088798   4
17  -cum +m-54     CYP11B2  29.760012  29.697222  0.088798   4

In [41]:
merged_cum_mol = pd.concat([cum_mol_clean_1, cum_mol_clean_2, cum_mol_clean_3])
merged_cum_mol

     Sample Name Target Name         CT    Ct Mean     Ct SD rep
24  + cum + m-54       GAPDH  25.618839  25.380276  0.337378   1
25  + cum + m-54       GAPDH  25.141714  25.380276  0.337378   1
26  + cum - m-54       GAPDH  25.443441  25.468607  0.035589   1
27  + cum - m-54       GAPDH  25.493773  25.468607  0.035589   1
28  - cum + m-54       GAPDH  25.481716  25.487497  0.008176   1
..           ...         ...        ...        ...       ...  ..
13    +cum +m-54     CYP11B2  28.990881  29.120930  0.183915   4
14    +cum -m-54     CYP11B2  28.960726  28.832115  0.181883   4
15    +cum -m-54     CYP11B2  28.703505  28.832115  0.181883   4
16    -cum +m-54     CYP11B2  29.634432  29.697222  0.088798   4
17    -cum +m-54     CYP11B2  29.760012  29.697222  0.088798   4

[72 rows x 6 columns]

In [42]:
cum_mol_dedupl = merged_cum_mol.drop(columns=['CT', 'Ct SD']).drop_duplicates() \
                               .replace('\+ m-54', '+m-54', regex = True) \
                               .replace('\- m-54', '-m-54', regex = True) \
                               .replace('\+ cum', '+cum', regex = True) \
                               .replace('\- cum', '-cum', regex = True)

cum_mol_dedupl

   Sample Name Target Name    Ct Mean rep
24  +cum +m-54       GAPDH  25.380276   1
26  +cum -m-54       GAPDH  25.468607   1
28  -cum +m-54       GAPDH  25.487497   1
30  +cum +m-54       KCNJ5  23.040981   1
32  +cum -m-54       KCNJ5  23.037327   1
34  -cum +m-54       KCNJ5  23.648571   1
36  +cum +m-54     CYP11B2  30.596180   1
38  +cum -m-54     CYP11B2  30.056484   1
40  -cum +m-54     CYP11B2  30.391968   1
0   +cum +m-54       GAPDH  25.504961   2
2   +cum -m-54       GAPDH  25.572578   2
4   -cum +m-54       GAPDH  25.971508   2
6   +cum +m-54       KCNJ5  22.035473   2
8   +cum -m-54       KCNJ5  22.716967   2
10  -cum +m-54       KCNJ5  23.280720   2
12  +cum +m-54     CYP11B2  28.880112   2
14  +cum -m-54     CYP11B2  28.976658   2
16  -cum +m-54     CYP11B2  29.886017   2
18  +cum +m-54       GAPDH  25.734058   3
20  +cum -m-54       GAPDH  25.341455   3
22  -cum +m-54       GAPDH  26.613945   3
24  +cum +m-54       KCNJ5  22.959276   3
26  +cum -m-54       KCNJ5  22.209290   3
28  -cum +m-54       KCNJ5  23.605110   3
30  +cum +m-54     CYP11B2  29.114653   3
32  +cum -m-54     CYP11B2  28.363747   3
34  -cum +m-54     CYP11B2  30.262669   3
0   +cum +m-54       GAPDH  25.556652   4
2   +cum -m-54       GAPDH  25.680954   4
4   -cum +m-54       GAPDH  25.509483   4
6   +cum +m-54       KCNJ5  23.962112   4
8   +cum -m-54       KCNJ5  24.257282   4
10  -cum +m-54       KCNJ5  24.360783   4
12  +cum +m-54     CYP11B2  29.120930   4
14  +cum -m-54     CYP11B2  28.832115   4
16  -cum +m-54     CYP11B2  29.697222   4

In [37]:
# defining control = calibrator samples for GAPDH per replicate

def control (replicate, target):
    ctrl = cum_mol_dedupl[(cum_mol_dedupl['Sample Name'] == '-cum +m-54') &
                          (cum_mol_dedupl['Target Name'] == target) &
                          (cum_mol_dedupl['rep'] == replicate)].reset_index().iloc[0, 3]
    return ctrl


ctrl_GAPDH_rep1 = control('1', 'GAPDH')
ctrl_GAPDH_rep2 = control('2', 'GAPDH')
ctrl_GAPDH_rep3 = control('3', 'GAPDH')
ctrl_GAPDH_rep4 = control('4', 'GAPDH')

ctrl_KCNJ5_rep1 = control('1', 'KCNJ5')
ctrl_KCNJ5_rep2 = control('2', 'KCNJ5')
ctrl_KCNJ5_rep3 = control('3', 'KCNJ5')
ctrl_KCNJ5_rep4 = control('4', 'KCNJ5')

ctrl_CYP11B2_rep1 = control('1', 'CYP11B2')
ctrl_CYP11B2_rep2 = control('2', 'CYP11B2')
ctrl_CYP11B2_rep3 = control('3', 'CYP11B2')
ctrl_CYP11B2_rep4 = control('4', 'CYP11B2')

In [38]:
# Extracting dataframes per replicate for each probe

def dataframes (replicate, target):
    dataframe = cum_mol_dedupl[(cum_mol_dedupl['Target Name'] == target) &
                              (cum_mol_dedupl['rep'] == replicate)]
    return dataframe


GAPDH_rep1 = dataframes('1', 'GAPDH')
GAPDH_rep2 = dataframes('2', 'GAPDH')
GAPDH_rep3 = dataframes('3', 'GAPDH')
GAPDH_rep4 = dataframes('4', 'GAPDH')

KCNJ5_rep1 = dataframes('1', 'KCNJ5')
KCNJ5_rep2 = dataframes('2', 'KCNJ5')
KCNJ5_rep3 = dataframes('3', 'KCNJ5')
KCNJ5_rep4 = dataframes('4', 'KCNJ5')

CYP11B2_rep1 = dataframes('1', 'CYP11B2')
CYP11B2_rep2 = dataframes('2', 'CYP11B2')
CYP11B2_rep3 = dataframes('3', 'CYP11B2')
CYP11B2_rep4 = dataframes('4', 'CYP11B2')

In [43]:
CYP11B2_values = cum_mol_dedupl[cum_mol_dedupl['Target Name'] == 'CYP11B2']

def delta_CT(CYP11B2):
    GAPDH = cum_mol_dedupl[(cum_mol_dedupl['Target Name'] == 'GAPDH') &
                            (cum_mol_dedupl['Sample Name'] == CYP11B2['Sample Name']) &
                            (cum_mol_dedupl['rep'] == CYP11B2['rep'])
                          ]
    CYP11B2['GAPDH'] = float64(GAPDH['Ct Mean'])
    CYP11B2['dCt CYP11B2'] = float64(subtract(CYP11B2['Ct Mean'], GAPDH['Ct Mean']))   
    
    return CYP11B2

deltaCT_CYP11B2 = CYP11B2_values.apply(delta_CT, axis = 1).drop(columns = ['Target Name', 'GAPDH'])
clean_deltaCT_CYP11B2 = deltaCT_CYP11B2.reset_index().drop(columns=['index'])
clean_deltaCT_CYP11B2

   Sample Name    Ct Mean rep  dCt CYP11B2
0   +cum +m-54  30.596180   1     5.215904
1   +cum -m-54  30.056484   1     4.587877
2   -cum +m-54  30.391968   1     4.904470
3   +cum +m-54  28.880112   2     3.375151
4   +cum -m-54  28.976658   2     3.404079
5   -cum +m-54  29.886017   2     3.914509
6   +cum +m-54  29.114653   3     3.380594
7   +cum -m-54  28.363747   3     3.022291
8   -cum +m-54  30.262669   3     3.648724
9   +cum +m-54  29.120930   4     3.564278
10  +cum -m-54  28.832115   4     3.151161
11  -cum +m-54  29.697222   4     4.187738

In [44]:
KCNJ5_values = cum_mol_dedupl[cum_mol_dedupl['Target Name'] == 'KCNJ5']

def delta_CT(KCNJ5):
    GAPDH = cum_mol_dedupl[(cum_mol_dedupl['Target Name'] == 'GAPDH') &
                            (cum_mol_dedupl['Sample Name'] == KCNJ5['Sample Name']) &
                            (cum_mol_dedupl['rep'] == KCNJ5['rep'])
                          ]
    KCNJ5['GAPDH'] = float64(GAPDH['Ct Mean'])
    KCNJ5['dCt KCNJ5'] = float64(subtract(KCNJ5['Ct Mean'], GAPDH['Ct Mean']))   
    
    return KCNJ5

deltaCT_KCNJ5 = KCNJ5_values.apply(delta_CT, axis = 1).drop(columns = ['Target Name', 'GAPDH'])
clean_deltaCT_KCNJ5 = deltaCT_KCNJ5.reset_index().drop(columns=['index'])
clean_deltaCT_KCNJ5

   Sample Name    Ct Mean rep  dCt KCNJ5
0   +cum +m-54  23.040981   1  -2.339294
1   +cum -m-54  23.037327   1  -2.431280
2   -cum +m-54  23.648571   1  -1.838926
3   +cum +m-54  22.035473   2  -3.469488
4   +cum -m-54  22.716967   2  -2.855612
5   -cum +m-54  23.280720   2  -2.690788
6   +cum +m-54  22.959276   3  -2.774782
7   +cum -m-54  22.209290   3  -3.132166
8   -cum +m-54  23.605110   3  -3.008835
9   +cum +m-54  23.962112   4  -1.594540
10  +cum -m-54  24.257282   4  -1.423672
11  -cum +m-54  24.360783   4  -1.148701

In [45]:
# defining control

def control (dataframe, replicate):
    ctrl = dataframe[(dataframe['Sample Name'] == '-cum +m-54') &
                (dataframe['rep'] == replicate)]
    return ctrl


ctrl_KCNJ5_rep1 = control(clean_deltaCT_KCNJ5, '1')['dCt KCNJ5']
ctrl_KCNJ5_rep2 = control(clean_deltaCT_KCNJ5, '2')['dCt KCNJ5']
ctrl_KCNJ5_rep3 = control(clean_deltaCT_KCNJ5, '3')['dCt KCNJ5']
ctrl_KCNJ5_rep4 = control(clean_deltaCT_KCNJ5, '4')['dCt KCNJ5']

ctrl_CYP11B2_rep1 = control(clean_deltaCT_CYP11B2, '1')['dCt CYP11B2']
ctrl_CYP11B2_rep2 = control(clean_deltaCT_CYP11B2, '2')['dCt CYP11B2']
ctrl_CYP11B2_rep3 = control(clean_deltaCT_CYP11B2, '3')['dCt CYP11B2']
ctrl_CYP11B2_rep4 = control(clean_deltaCT_CYP11B2, '4')['dCt CYP11B2']

In [48]:
# Subtract KCNJ5/CYP11B2 values with GAPDH value

results_KCNJ5 = []
results_CYP11B2 = []

def subtract_ctrl (dataframe_defined, ctrl_defined, start, end, results_defined):
    dataframe_looped = dataframe_defined.iloc[start:end]
    ctrl_looped = ctrl_defined
    results = results_defined
    for i in dataframe_looped:
        ddCt = i - ctrl_looped
        results.append(ddCt)
    return results

ddCt_KCNJ5 = subtract_ctrl(clean_deltaCT_KCNJ5['dCt KCNJ5'], ctrl_KCNJ5_rep1, 0, 3, results_KCNJ5)
ddCt_KCNJ5 = subtract_ctrl(clean_deltaCT_KCNJ5['dCt KCNJ5'], ctrl_KCNJ5_rep2, 3, 6, results_KCNJ5)
ddCt_KCNJ5 = subtract_ctrl(clean_deltaCT_KCNJ5['dCt KCNJ5'], ctrl_KCNJ5_rep3, 6, 9, results_KCNJ5)
ddCt_KCNJ5 = subtract_ctrl(clean_deltaCT_KCNJ5['dCt KCNJ5'], ctrl_KCNJ5_rep4, 9, 12, results_KCNJ5)

ddCt_CYP11B2 = subtract_ctrl(clean_deltaCT_CYP11B2['dCt CYP11B2'], ctrl_CYP11B2_rep1, 0, 3, results_CYP11B2)
ddCt_CYP11B2 = subtract_ctrl(clean_deltaCT_CYP11B2['dCt CYP11B2'], ctrl_CYP11B2_rep2, 3, 6, results_CYP11B2)
ddCt_CYP11B2 = subtract_ctrl(clean_deltaCT_CYP11B2['dCt CYP11B2'], ctrl_CYP11B2_rep3, 6, 9, results_CYP11B2)
ddCt_CYP11B2 = subtract_ctrl(clean_deltaCT_CYP11B2['dCt CYP11B2'], ctrl_CYP11B2_rep4, 9, 12, results_CYP11B2)
ddCt_CYP11B2

[2    0.311434
 Name: dCt CYP11B2, dtype: float64,
 2   -0.316593
 Name: dCt CYP11B2, dtype: float64,
 2    0.0
 Name: dCt CYP11B2, dtype: float64,
 5   -0.539358
 Name: dCt CYP11B2, dtype: float64,
 5   -0.510429
 Name: dCt CYP11B2, dtype: float64,
 5    0.0
 Name: dCt CYP11B2, dtype: float64,
 8   -0.268129
 Name: dCt CYP11B2, dtype: float64,
 8   -0.626432
 Name: dCt CYP11B2, dtype: float64,
 8    0.0
 Name: dCt CYP11B2, dtype: float64,
 11   -0.623461
 Name: dCt CYP11B2, dtype: float64,
 11   -1.036577
 Name: dCt CYP11B2, dtype: float64,
 11    0.0
 Name: dCt CYP11B2, dtype: float64]

In [49]:
clean_deltaCT_CYP11B2['dCt KCNJ5'] = clean_deltaCT_KCNJ5['dCt KCNJ5']
all_results = clean_deltaCT_CYP11B2.drop(columns = ['Ct Mean'])
all_results['ddCt CYP11B2'] = float64(ddCt_CYP11B2)
all_results['ddCt KCNJ5'] = float64(ddCt_KCNJ5)
all_results

   Sample Name rep  dCt CYP11B2  dCt KCNJ5  ddCt CYP11B2  ddCt KCNJ5
0   +cum +m-54   1     5.215904  -2.339294      0.311434   -0.500368
1   +cum -m-54   1     4.587877  -2.431280     -0.316593   -0.592354
2   -cum +m-54   1     4.904470  -1.838926      0.000000    0.000000
3   +cum +m-54   2     3.375151  -3.469488     -0.539358   -0.778700
4   +cum -m-54   2     3.404079  -2.855612     -0.510429   -0.164824
5   -cum +m-54   2     3.914509  -2.690788      0.000000    0.000000
6   +cum +m-54   3     3.380594  -2.774782     -0.268129    0.234053
7   +cum -m-54   3     3.022291  -3.132166     -0.626432   -0.123331
8   -cum +m-54   3     3.648724  -3.008835      0.000000    0.000000
9   +cum +m-54   4     3.564278  -1.594540     -0.623461   -0.445839
10  +cum -m-54   4     3.151161  -1.423672     -1.036577   -0.274971
11  -cum +m-54   4     4.187738  -1.148701      0.000000    0.000000

In [50]:
all_results['Fold Change CYP11B2'] = 2**(-all_results['ddCt CYP11B2'])
all_results['Fold Change KCNJ5'] = 2**(-all_results['ddCt KCNJ5'])
all_results

,Sample Name,rep,dCt CYP11B2,dCt KCNJ5,ddCt CYP11B2,ddCt KCNJ5,Fold Change CYP11B2,Fold Change KCNJ5
0,+cum +m-54,1,5.215904,-2.339294,0.311434,-0.500368,0.805840,1.414574
1,+cum -m-54,1,4.587877,-2.431280,-0.316593,-0.592354,1.245386,1.507705
2,-cum +m-54,1,4.904470,-1.838926,0.000000,0.000000,1.000000,1.000000
3,+cum +m-54,2,3.375151,-3.469488,-0.539358,-0.778700,1.453326,1.715584
4,+cum -m-54,2,3.404079,-2.855612,-0.510429,-0.164824,1.424474,1.121029
5,-cum +m-54,2,3.914509,-2.690788,0.000000,0.000000,1.000000,1.000000
6,+cum +m-54,3,3.380594,-2.774782,-0.268129,0.234053,1.204245,0.850243
7,+cum -m-54,3,3.022291,-3.132166,-0.626432,-0.123331,1.543743,1.089247
8,-cum +m-54,3,3.648724,-3.008835,0.000000,0.000000,1.000000,1.000000
9,+cum +m-54,4,3.564278,-1.594540,-0.623461,-0.445839,1.540566,1.362106
10,+cum -m-54,4,3.151161,-1.423672,-1.036577,-0.274971,2.051355,1.209970
11,-cum +m-54,4,4.187738,-1.148701,0.000000,0.000000,1.000000,1.000000